@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Light.ttf') format('truetype');
    font-weight: lighter;
}